* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#header {
    height: 100px;
    background-color: #2C3E50;
}

html {
    scroll-behavior: smooth;
}



a {
    margin-left: 20px;
}

.logo,
.navigation {
    display: inline-block;
}

.logo {

    width: 49%;
}

.logo a {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: wheat;

}

.navigation {

    vertical-align: top;
    width: 50%;
}

.navigation ul {
    text-align: right;
}

.navigation ul li {
    display: inline-block;

}

.navigation ul li a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0px 7px;
    padding: 0px 10px;
    color: wheat;
}

.navigation ul li a:hover {
    color: #1abc9c;
}

.navigation ul li:last-child a {
    padding-right: 0px;
    margin-right: 0px;
}

#banner {
    background-color: #1abc9c;
    text-align: center;
    padding: 100px 0px;
}

#banner img {
    width: 230px;

}

#banner h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    margin: 25px 0px;
}

#banner p {
    color: white;
    font-size: 1.5em;
}

#banner .line-wrapper {
    margin: 25px 0px;
}

#banner svg {
    color: white;
    width: 40px;
}

#banner .line {
    display: inline-block;
    width: 125px;
    height: 5px;
    background-color: white;
    margin-bottom: 12px;

}

#portfolio,
#about {
    height: 800px;
    background-color: white;
    margin: 40px 0px;
}

#portfolio {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #2C3E50;
    margin: 25px 0px;

}

#portfolio svg {

    color: #2C3E50;
    width: 40px;
}
#portfolio .line {
    display: inline-block;
    width: 125px;
    height: 5px;
    background-color: #2C3E50;
    margin-bottom: 12px;
    margin-top: 2.5%;

}
#box1{
}
#box1 img {
    width: 400px;
    display: inline-block;
    height: 250px;
    background-color: #BA4C63;  
    border: 1px solid white;
    border-radius: 10px;
}

